@layer components {
  .header {
    @apply sticky top-0 left-0 h-14 flex items-center bg-bone text-primary text-3xl justify-center;
    font-family: "Courgette", cursive;
  }
  .menu {
    @apply absolute right-4 outline-none;
    @apply outline-none;
    line-height: 0;
    font-size: 1.7rem;
  }
}
